<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyMemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyMemo.Properties.Settings>
            <setting name="BgWind" serializeAs="String">
                <value>CuteWallpaper2.jpg</value>
            </setting>
            <setting name="User1" serializeAs="String">
                <value>a</value>
            </setting>
            <setting name="User1_pwd" serializeAs="String">
                <value>a</value>
            </setting>
            <setting name="User2" serializeAs="String">
                <value>a</value>
            </setting>
            <setting name="User2_pwd" serializeAs="String">
                <value>a</value>
            </setting>
            <setting name="User3" serializeAs="String">
                <value>a</value>
            </setting>
            <setting name="User3_pwd" serializeAs="String">
                <value>a</value>
            </setting>
            <setting name="MemoLastID" serializeAs="String">
                <value>0</value>
            </setting>
        </MyMemo.Properties.Settings>
    </userSettings>
</configuration>